# .gitignore

# Python related
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
*.venv
.venv/

# Jupyter Notebook files
.ipynb_checkpoints/

# Environment variables
.env

# Temp folder
temp/

# Whisperx ASR tool (if downloaded to the project directory)
whisperx/

# Output files
*.mp4
*.wav
*.srt

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.gitignore